/* 
    Main Contact Form Styles 
*/

.contactForm {
    width: 30%;
    margin: auto;
    margin-top: 2%;
    background-color: white;
    padding: 2%;
    border-radius: 25px;
    min-width: 350px;
}

.mailImg {
    height: 30%;
    width: 30%;
}

#mailImg {
    width: 30%;
    height: 30%;
}

.fa-thumbs-up {
    font-size: 300%;
}

/* 
    Styles For Page As A Whole
*/

body {
    background-color: pink;
}

/* 
    Styles For Error Handling
*/
.invalid { border-color: red; }
#error { color: red }
#no{color: red}
