body {
    background-color: #ffe0e0;
}

#button {
    /* color:#FFC0CB; */
    /* font-family: cursive; */
}

#button:hover {
    color: #FFB6C1;
}

#shopname {
    font-family: cursive;
    color: #FFB6C1;
    font-size: 45px;
}

#foot {
    margin-top: 100px;
}

section {
    padding: 10px 0;
}

section .section-title {
    text-align: center;
    color: #FFB6C1;
    margin-bottom: 50px;
    text-transform: uppercase;
}

#footer {
    background: #ffffff !important;
}

#footer h5 {
    /* padding-left: 1000px; */
    padding-bottom: 0px;
    margin-bottom: 30px;
    color: #FFB6C1;
}

#footer ul.social li a i {
    margin-right: 5px;
    font-size: 25px;
    -webkit-transition: .5s all ease;
    -moz-transition: .5s all ease;
    transition: .5s all ease;
}

#footer ul.social li:hover a i {
    font-size: 30px;
    margin-top: -10px;
}

#footer ul.social li a,
#footer ul.quick-links li a {
    color: #FFB6C1;
}

.invalid {
    border-color: red;
}

#error {
    color: red
}

#no {
    color: red
}